<h1>EAT THE BURGER</h1>


<ul>
  {{#each burgers}}
     {{#unless this.devoured}}
  	<li>
  		<p>{{this.id}}. {{this.burger_name}}</p>
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
        
      <button type="submit">Devour It!</button>
      </form>
  	</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
  <ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        <p>{{this.burger_name}}</p>

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Throw it up</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>


<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <textarea id="quo" name="burger_name" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>

<h5>Enter a burger you want to eat and "Submit"</h5>